/* CHECKBOX FIELD */
.input-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.checkbox {
    position: relative;
    border: 1pt solid var(--fieldBorderColor);
    border-radius: 4px;
    padding: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: none;

    cursor: pointer;
}

.checkbox-title {
    color: black;

    text-align: center;

    font-size: 14px;
    font-weight: 300;

    margin-left: 4px;
}

.checkbox .check {
    z-index: 1;
    color: #fff;
    font-size: 10px;
    font-weight: 800;
}

.checkbox-background {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--fieldBackgroundColor);

    z-index: 0;
}

.checkbox:hover .checkbox-background {
    filter: brightness(90%);
}

#checkbox-checked {
    background-color: var(--checkboxCheckedColor);
}

#checkboxDark {
    border-color: var(--borderColorDark);
}

#checkboxDark:hover .checkbox-backgroundDark {
    filter: brightness(200%);
}

.checkbox-backgroundDark {
    background-color: var(--foregroundColorDark);
}


/* TOGGLE BUTTON */
.toggleButton {
    width: 24pt;
    height: 12pt;

    border: 1pt solid var(--fieldBorderColor);
    background-color: var(--backgroundColor);
    border-radius: 15pt;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.toggleButtonIndicator {
    width: 12pt;
    height: 12pt;
    background-color: var(--checkboxCheckedColor);
    border-radius: 10pt;
    transform: translateX(0);
    transition: 400ms;
}

#toggleOn {
    transform: translateX(100%);
}

.toggleButtonDark {
    background-color: var(--backgroundColorDark);
    border-color: var(--borderColorDark);
}


/* DROP DOWN FIELD */
.dropDownMenuField {
    position: relative;

    margin: 4px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
}

.dropDownMenuField h3 {
    margin-right: 4px;
    
    font-weight: 400;
    font-size: 16px;

    z-index: 5;
}

.dropDownMenuField h3::after {
    content: ':';
}

.dropDownFieldContainer {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 4px;

    justify-content: flex-start;
    align-items: center;
    min-width: 80pt;
    min-height: 15pt;
}

.dropDownMenuFieldBackground {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: var(--fieldBackgroundColor);
    border: 1px solid var(--fieldBorderColor);
    border-radius: 4px;

    z-index: inherit;
}

.dropDownMenuFieldBackground:hover {
    filter: brightness(95%);
}

#darkFieldBackground {
    background-color: var(--fieldBackgroundColorDark);
    border: 1px solid var(--fieldBorderColorDark);
    border-radius: 8px;
}

#darkFieldBackground:hover {
    filter: brightness(150%);
}


.selectionText {
    z-index: 1;
	pointer-events: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 4px;
}

.dropDownIcon {
    position: absolute;
    z-index: 2;

    right: 8px;

    transform: rotate(180deg) translateY(10%);
    font-size: 20px;
    font-weight: 400;
	pointer-events: none;

    color: var(--fieldBorderColor);
}

.dropDownIconOpen {
    transform: rotate(270deg) translateY(10%);
}

.dropDownMenu::-webkit-scrollbar {
    display: none;
}

.dropDownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;

    
    border: 1px solid var(--fieldBorderColor);
	border-radius: 4px;
	background-color: var(--fieldBackgroundColor);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
    
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    opacity: 0;
}

#darkDropDownIcon {
    filter: brightness(50%)
}


.selectionElement {
    padding: 5pt;
    width: 100%;
    background-color: var(--fieldBackgroundColor);
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    transition: 200ms;
}

.dropDownMenu .selectionElement:hover {
    filter: brightness(95%);
}

.dropDownMenu #dark:hover {
    filter: brightness(150%);
}

#darkDropDownMenu {
    background-color: var(--fieldBackgroundColorDark);
    border-color: var(--fieldBorderColorDark);
}

.dropDownMenuClose {
    animation-name: menuClose;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.dropDownMenuOpen {
    animation-name: menuOpen;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes menuOpen {
    10% {
        opacity: 1;
    }
    100% {
        max-height: 100pt;
        opacity: 1;
    }
}

@keyframes menuClose {
    0% {
        max-height: 100pt;
        opacity: 1;
    }
    90% {
        max-height: 0;
        opacity: 1;
    }
    100% {
        max-height: 0;
        opacity: 0;
    }
}






@media only screen and (max-width: 730px) {
    .checkbox {
        border: 2pt solid var(--fieldBorderColor);
        border-radius: 8px;
        width: 24px;
        height: 24px;
    }

    #checkboxDark:hover .checkbox-backgroundDark {
        filter: brightness(100%);
    }
    
    .checkbox-title {
        font-weight: 400;
    }
    
    .checkbox .check {
        z-index: 1;
        color: #fff;
        font-size: 14px;
        font-weight: 800;
    }

    .dropDownMenuField {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}