:root {
	--backgroundColor: #DDDDDD;
	--foregroundColor: #EEEEEE;

	--borderColor: #d0d0d0;

	--fontColor: #111111;
	--fontColorFaint: rgb(89, 89, 89);
	--fontColorHeaderFaint: rgb(47, 47, 47);

	--areaBorderColor: #225582;

	--fieldBorderColor: #d0d0d0;
    --fieldBackgroundColor: #FFFFFF;

    --checkboxCheckedColor: #2474e0;
    --checkboxCheckmarkColor: #FFFFFF;

	--linkColor: #2f88d6;

	--backgroundColorDark: #111111;
	--foregroundColorDark: #222222;

	--borderColorDark: #000000;
	--fieldBorderColorDark: #444444;
	--fieldBackgroundColorDark: #222222;

	--fontColorDark: #dddddd;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	transition: 200ms;
	font-family: 'Oswald', sans-serif;
}

span b {
	transition: 250ms;
}

body {
	padding: 0;
	margin: 0;

	color: var(--fontColor);
	background-color: var(--backgroundColorDark);


	transition: none;
}

.App {
	display: flex;
	flex-direction: column;

	justify-content: flex-start;
	align-items: center;

	padding: 0;
	margin: 0;
	padding-bottom: 30pt;

	overflow-x: hidden;

	color: var(--fontColor);
	
	padding-top: 80pt;
	background-color: var(--backgroundColor);

	min-height: 100vh;

	box-sizing: border-box;
}

.NoSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.FadeIn {
	animation-name: FadeIn;
	animation-duration: 600ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.App h3 {
	margin: 0;
}

.App p {
	margin: 0;
	padding: 0;
}

.App p span {
	margin: 8px;
}

.App a {
	color: var(--linkColor);
	text-decoration: underline;
	border-bottom: 1px solid transparent;
	padding: 0;

	box-sizing: border-box;
}

.App a:hover {
	filter: brightness(120%);
}

.info {
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;

	gap: 16px;
}

.info span {
	font-weight: 300;
}

.info span b {
	font-weight: 400;
}

.disclaimer {
	font-size: 12px;
	font-weight: 400;
}

.point {
	position: absolute;
	width: 12pt;
	height: 12pt;

	border-radius: 10pt;
	border: 1pt solid black;

	background-color: green;

	transform: translate(-50%, -50%);

	overflow: visible;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	color: white;
	font-size: 0.7rem;
	font-weight: 600;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;

	transition: none;
}

.placementArea {
	position: relative;
	width: 90%;
	height: 400pt;

	border: 1px solid var(--areaBorderColor);
	border-radius: 15pt;


	overflow: hidden;

	background-image: url('../public/grid.png');
	background-repeat: repeat;
	background-size: 60px;
	filter: drop-shadow(0 0 2px rgba(10, 10, 10, 0.45))
}

#placementAreaDark {
	filter: brightness(90%);
}

.debug {
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#origin {
	background-color: rgb(243, 146, 56);
}

svg {
	position: absolute;
	width: 100%;
	height: 99vh;
	pointer-events: none;

	padding: 0;
	margin: 0;
	z-index: 0;
}

polyline {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
	stroke-linejoin: round;
	stroke: rgb(0, 190, 0);
	transition: 50ms;
}

header {
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;

	background-color: var(--foregroundColor);
	border-bottom: 1pt solid var(--borderColor);

	width: 100%;
	padding: 10pt;

	position: absolute;
	box-sizing: border-box;

	top: 0;
	left: 0;

	filter: drop-shadow(0 0 8px rgba(100, 100, 100, 0.1))
}

header .darkModeToggle {
	position: absolute;
	right: 10pt;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

header .darkModeToggle span {
	position: absolute;
	font-size: 12px;

	margin-top: 4px;
	transform: translateY(100%);
}

header img {
	width: 45pt;
	margin-right: 16px;
}

header h1 {
	font-weight: 400;
	font-size: 2.5rem;
	padding: 0;
	margin: 0;
}

.options {
	margin: 8px;

	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;

	width: 85%;

	gap: 12px;
}

.interactionRegion {
	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: column;

	z-index: 5;

	padding: 8px;
}

.clearButton {
	border: 1px solid #a3141e;
	border-radius: 8px;
	background-color: #FF1122;

	filter: drop-shadow(0 0 2px rgba(10, 10, 10, 0.8));

	color: #FFF;
	font-weight: 400;
	padding: 8px;
	padding-bottom: 2px;
	padding-top: 2px;

	cursor: pointer;
}

.clearButton:hover {
	background-color: #c51c27;
}

.clearButton:active {
	filter: drop-shadow(0 0 0 rgba(10, 10, 10, 0));
}

.sortDataSection {
	min-height: 200pt;
}

.aboutSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 90%;
	max-width: 1280px;

	flex: 1;

	padding: 8px;
}

.aboutSection h2 {
	margin: 0;
	padding: 0;
}

.aboutSection p {
	text-align: justify;

	padding: 0;
	margin: 0;
}

footer {
	position: relative;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	background-color: var(--foregroundColor);
	border-top: 1pt solid var(--borderColor);

	width: 100%;
	padding: 16px;
	padding-bottom: 24px;

	box-sizing: border-box;

	filter: drop-shadow(0 0 8px rgba(100, 100, 100, 0.1))
}

footer .additionalInfo {
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;

	margin: 0;
	
	font-weight: 400;

	gap: 8px;
}

footer h3 {
	padding: 0;
	margin: 0;

	opacity: 0.6;
	font-weight: 400;
	font-size: 24px;
}

footer h3::after {
	content: ':';
}

footer a {
	margin: 0;
	padding: 0;
	text-decoration: none;

	color: var(--linkColor);

	box-sizing: border-box;
}

footer a:hover {
	filter: brightness(75%);
	text-decoration: underline;
}

footer span {
	padding: 0;
	margin: 0;

	font-weight: 300;
	font-size: 16px;

	opacity: 0.3;

	position: absolute;
	right: 8px;
	bottom: 8px;
}

#darkBackground {
	background-color: var(--backgroundColorDark);
}

#dark {
	background-color: var(--foregroundColorDark);
	border-color: var(--borderColorDark);

	color: var(--fontColorDark);
}

#darkModeFont {
	color: var(--fontColorDark)
}

@keyframes FadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 730px) {
	.App {
		padding-top: 50pt;
	}

	header {
		position: fixed;
		padding: 5pt;
		height: 40pt;

		z-index: 10;
	}

	header img {
		width: 30pt;
	}
	
	header h1 {
		font-size: 1.3rem;
	}
	
	header span {
		right: 5pt;
		font-size: 0.8rem;
	}

	header .darkModeToggle span {
		font-size: 10px;
	}

	.placementArea {
		position: relative;
		width: 95vw;
		height: 95vw;
	
		background-size: 120px;
	}

	.clearButton {
		font-weight: 500;
		font-size: 12px;
		padding: 12px;
		padding-bottom: 2px;
		padding-top: 2px;
	
		cursor: pointer;
	}

	.App h3 {
		font-size: 16px;
	}

	.options {
		margin: 8px;
	
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	
		justify-content: center;
		align-items: center;
	
		width: 80%;
	
		gap: 12px;
	}

	.info {
		display: flex;
		flex-direction: row;

		justify-content: center;
		align-items: center;

		gap: 16px;

		font-size: 16px;
	}

	footer {
		padding: 8px;
	}

	footer h3 {
		font-size: 20px;
	}

	footer span {
		margin-top: 24px;
		position: inherit;
		font-size: 12px;
	}
}